.category-main {
    width:100%;
}

.expand-button {
    font-size: 24px;
    font-weight:bold;
    width: 100%;
    text-align:left;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    border-radius:0.25rem;
    border:1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
}

.expand-div {
    width: 100%;
    padding: 2% 2%;
    text-align:justify;
    margin-bottom: 3%;
}

.projects-ul {
    display: flex;
    flex-direction: column;
}

.project-li {
    padding: 0;
}

.project-li:nth-child(odd) {
    background-color: lightgrey;
}
