.category-main {
    width:100%;
}

.expand-button {
    font-size: 24px;
    font-weight:bold;
    width: 100%;
    text-align:left;
}

.expand-collapse {
    margin-bottom: 3%;
}

.expand-div {
    width: 100%;
    padding: 2% 2%;
    text-align:left;
}

.showcases {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
}

.showcases {
    border-bottom: solid black 2px;
}

.showcases:last-child {
    border-bottom: none;
}

.project {
    width:100%;
}

