.project-main {
    width: 100%;
    display:flex;
}

.project-text-div {
    text-align:justify;
    border-right: solid black 2px;
    padding: 3% 3%;
    width:70%;
}

.project-logo-div {
    display:flex;
    flex-direction: row;
}

.project-frameworks-main-div {
    width: 45%;
    margin-right:10%;
}

.project-languages-main-div {
    width: 45%;
}

.project-image-div {
    width:30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-image {
    padding: 2% 2%;
    max-width:100%;
    max-height: 500px;
}

.project-popup-text-div{
    width:60%;
    margin-right:3%;
}

.project-popup-image-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width:37%;
}

.project-popup-image {
    max-width:100%;
    max-height:80%;
}

.project-title {
    border-bottom: solid black 1px;
}

.project-textbox-context {
    text-align: justify;
    display: flex;
    flex-direction: column;
    list-style: none;
}

@media (max-width: 600px) and
(orientation : portrait)  {
    .navigation-nav-div {
        display:none;
    }
    
    .navigation-language-div-mobile{
        padding: 3% 0;
        display:flex;
        font-size: 15px;
    }

    .navigation-language-select{
        padding: 5% 5%;
    }
}