.experience {
    padding-top:13vh;
}

.experience-textbox {
    color:black;
    text-align: left;
}

.vertical-timeline-element-date {
    text-align: start;
    opacity: 1 !important;
    font-weight: bold !important;
}

.experience-textbox-title {
    font-weight:bold;
}

.experience-textbox-subtitle {
    font-weight:bold;
}

.experience-textbox-context {
    display:flex;
    flex-direction: column;
    list-style: circle;
}

.experience-textbox-paragraph {
    text-align: start;
    padding-top: 1%;
}