.experience {
    padding-top:13vh;
}

.experience-textbox {
    color:black;
    text-align: left;
}

.vertical-timeline-element-date {
    text-align: start;
    opacity: 1 !important;
    font-weight: bold !important;
}

.vertical-timeline-element-title {
    font-weight:bold;
}

.vertical-timeline-element-subtitle {
    font-weight:bold;
}
