.App {
  text-align: center;
}

.Main {
  width:90%;
  margin: auto;
  z-index: 0;
}

.header {
  z-index:9999;
  padding-bottom: 5vh;
}

.theme-toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  border: none !important;
  outline: none !important;
  cursor: pointer;
  border-radius: 2.6rem;
  width: 2.6rem;
  height: 2.6rem;
  line-height: 2.6rem;
  text-align: center;
}

.theme-toggle-button:hover {
  transition: 0.3s ease-in;
}