.showcase {
    padding-top:5vh;
}

.background {
    text-align: left;
}

.dev-icons {
    padding-left: 0;
    list-style: none;
    font-size: 3rem;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    overflow: scroll;
    -ms-overflow-style: none;
  }

.dev-icons::-webkit-scrollbar {
    display: none;
}
  
.dev-icon {
    padding: 1% 1%;
    display: block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.dev-icon > img {
    height: 80px;
    width: 80px;
}

.dev-icon > img:hover {
    color: #645beb;
}
.dev-icon > p {
    font-size: 10px;
}
.dev-icon > i:hover ~ p{
    color: #645beb;
}

.categories {
    width:100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.category {
    width:100%;
}