.showcase {
    padding-top:5vh;
}

.background {
    text-align: justify;
}

.dev-icons {
    padding-left: 0;
    list-style: none;
    font-size: 3rem;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.dev-icons:hover {
    overflow-x: overlay;
}

.dev-icons::-webkit-scrollbar {
    height:10px;
    background: transparent;
}

.dev-icons::-webkit-scrollbar-thumb {
    background: #393812;
    border-radius: 1ex;
}

.dev-icon {
    padding: 1% 1%;
    display: block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.dev-icon > img {
    height: 80px;
    width: 80px;
}

@media (max-width: 850px) {
    .dev-icon > img {
        height: 50px;
        width: 50px;
    }
    .dev-icon > p {
        font-size: 10px;
    }
}

.dev-icon > p {
    font-size: 15px;
}

.categories {
    width:100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.category {
    width:100%;
}